<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.oww251.watchface.ultra">
    <uses-feature android:name="android.hardware.type.watch"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:icon="@drawable/ic_app" android:label="@string/outdoormultifunction_watchface_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <service android:exported="false" android:label="@string/outdoormultifunction_watchface_name" android:name="com.heytap.wearable.watchface.outdoormultifunction.WatchFaceServiceImpl">
            <meta-data android:name="heytap.wearable.watchface.PREVIEW" android:resource="@drawable/ic_preview" android:value="integer"/>
            <intent-filter>
                <action android:name="heytap.wearable.intent.action.watchface.WATCH_FACE_SERVICE"/>
                <category android:name="heytap.wearable.intent.category.WATCH_FACE"/>
            </intent-filter>
        </service>
    </application>
</manifest>
